.cart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cart-component{
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; */
    padding: 5rem 7rem 5rem 7rem;
    width: 100vw;
}
.cart-component-title{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    justify-content: space-between;
    font-size: max(1vw, 12px);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* background-color: rebeccapurple; */
    width: 100%;
}
.cart-items-item{
    margin: 10px 0px;
    color: black;
    
    /* width: ; */

    /* background-color: black; */
}

.cart hr{
    height: 1px;
    background-color: #f5f5f5;
    border: none;
    width: 100%;
}
.cart-items-item .cross{
    cursor: pointer;
}
.cart-items-item img{
    width: 3.5rem;
    height: 3.5rem;
}
.cart-lowerButton{
    margin-top: 1.5rem;
    display: flex;
    /* flex-wrap: wrap; */
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    gap: max(12vw,20px);

}
.cart-lowerButton button{ 
    border-radius: 4px;
    width:  13.6rem;
    color: black;
    height:  3.5rem;
    background-color: white;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 500;
}
.cart-bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-content: flex-start; */
    width: 100%;
    margin-top: 5rem;
    gap: max(12vw,20px);
}
.checkout{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 29rem;
    height: 20rem;
    border: 1px solid black;
    border-radius: 4;
    padding: 1.5rem;
}
.cart-total-details{
    display: flex;
    justify-content: space-between;
    color: #555;
}
.cart-total-button{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: max(12vw,20px);
    width: 100%;

}
.cart-total-button button{
    width: 13rem;
    height: 3.5rem;
    border-radius: 0.25rem;
    background-color: #db4444;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.coupon input{
    width: 18.75rem;
    height: 3.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid black;
    padding-left: 0.5rem;
    margin-right: 1rem;
}
.coupon button{
    margin-top: 0.5rem;
    height: 3.5rem;
    width: 13rem;
    border-radius: 0.25rem;
    background-color: #db4444;
    font-size: 1rem;
    color: white;
    padding-left: 0.5rem;
}
@media (max-width:1200px){
    .cart-component{
        padding: 2rem;
    }
}