.contact{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-component{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 5rem 7rem 5rem 7rem;
    width: 100vw;
}
.contact-content img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.contact-content h6{
    display: flex;
    align-items: center;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: normal;
}
.contact-content p{
    font-size: 14px;
    margin-bottom: 1rem;
}
.contact-form{
    display: flex;
    flex-wrap: wrap;
}
.contact-form input{
    width: 235px;
    height: 50px;
    background-color: #f5f5f5;
    margin-right: 1rem;
    font-size: 1rem;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 11px;
}
.int{
    display: flex;
    flex-wrap:wrap;
    margin: 1.5rem 1rem 2rem 0rem;
    height: 13rem;
    background-color: #f5f5f5;
    width: 46rem;
    font-size: 1rem;
    padding-left: 11px;
}
.contact-input button{
    width: 215px;
    height: 56px;
    background-color: #db4444;
    color: white;
    border-radius: 5px;
    font-size: 1rem;
}

@media (max-width:1200px){
    .contact-component{
        padding: 2rem;
    }
    .contact-form input{
        width: 150px;
    }
    .contact-input button{
        width: 150px;
    }
    .int{
        width: 32rem;
    }
}