.error{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.error h2{
    font-weight: 600;
    font-size: 7rem;
    line-height: 7.1rem;
    letter-spacing: 3%;
    margin-bottom: 2.5rem;
}
.error p{
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 5rem;  
}
.error button{
    padding: 1rem 3rem;
    border: none;
    color: white;
    background-color: #db4444;
    width: max(15vw, 200px);
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
    height: 3rem;
}