.topheader{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    /* height: 3rem; */
    background-color: black;
    color: white;
}
.topheader-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 14rem;
    padding: 12px;
}
.topheader-content p{
    font-size: 14px;
}