.checkouts{
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout-component{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 7rem 5rem 7rem;
    width: 100vw;
    gap: 50px;
    /* background-color: red; */
}
.checkouts hr{
    height: 1px;
    background-color: black;
    border: none;
    width: 100%;
}
.checkouts p{
    font-size: 1rem;
    line-height: 1.5rem;
    /* background: pink; */
}
.multi-field input{
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #f5f5f5;
    font-size: 1rem;
    
}
.multi-field p{
    color: #c3b8b8;
}
.multi-field span{
    color: #e84315;
}
.checkout-left{
    width: 100%;
    max-width: max(30%, 500px);
}
.checkout-left h3{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 50px;
}
.checkout-right{
    width: 100%;
    max-width: max(40%, 500px);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.multi-field input[type='checkbox'] {
    color: #e84315;
}
.checkout-detail{
    display: flex;
    justify-content: space-between;
}
.checkout-right-lower hr{
    margin: 10px 0px;
}
.checkout-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.butt1{
    border: none;
    color: white;
    background-color: #db4444;
    width: max(10vw, 100px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
    height: 3rem;
    font-size: 0.75rem;
}
.butt2{
    border: none;
    color: white;
    background-color: #db4444;
    width: max(11vw, 100px);
    padding: 12px 0px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 2rem;
    height: 3rem;
    font-size: 0.75rem;
}
.checkout-button input{
     width: max(20vw, 200px);
    padding: 10px;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #f5f5f5; 
    margin-top: 2rem;  
    height: 3.5rem;
    font-size: 1rem;
}
.checkout-input input{
    width: 1.5rem;
    height: 1.5rem;
    color: #db4444;
}

@media (max-width:1200px){
    .checkout-component{
        padding: 2rem;
    }
}