.chair{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 5rem 7rem 5rem 7rem;
    /* background-color: rebeccapurple; */
}
.hint{
    z-index: 1;
}
.img{
    width: max(25vw, 300px) ;
    height: max(51vh, 200px);
}
.social{
    display: flex;
    gap: 1rem;
    background-color: black;
    width: max(110px);
    align-items: center;
    margin-top: 1rem;
}
.social img{
    width: 1.5rem;
    height: 1.5rem;
}
.slick-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
p{
    font-size: max(1vw, 12px);
    margin-top: 0.5rem;
}
h2{
    margin-top: 1.5rem;
    font-size: 2rem;
    letter-spacing: 4%;
}
/* .slick-dots {
    bottom: 1rem;
 }
 .slick-prev,
.slick-next {
  z-index: 10; 
}
.slick-arrows{
  background-color: black;
}
.slick-dots li button:before {
    color: #333;
    font-size: 12px;
  }
  
  .slick-dots li.slick-active button:before {
    color: #007bff;
  } */