.product{
    width: max(20vw, 15rem);
    /* height: 22rem; */
    /* background-color: red; */
    margin-bottom: 2rem;
}
.product-component{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.product-content{
    height: 16rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.dave{
    background-color: black;
    color: white;
    height: 2.6rem;
    gap: 0.5rem;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 2.5rem;
    
}

.product-component .good{
    width: 12rem;
    height: 12rem;
}
.like{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
}
.like:active{
    background-color: #db4444;
}
.product-lower p{
    font-size: 1rem;
    margin-bottom: 0.5rem;
}
.money{
    color: #db4444;
}

@media (max-width: 1024px){
    .product{
        width: max(12vw, 10rem);
        /* background-color: red; */
    }
    .product-component .good{
        width: 7rem;
        height: 7rem;
    }
    .product-content{
        height: 7rem;
    }
    .like{
        width: 1.5rem;
        height: 1.5rem;
    }

}