.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(215, 209, 209);
}
.navbar-content{
    width: 100vw;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-between;
    padding: 3rem 7rem 1rem 7rem;
}
.navbar-menu Link{
    text-decoration: none;
}
.navbar-menu{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.navbar-content nav li{
    padding: 0px 35px;
    color: black;
    text-decoration: none;
    /* font-size: 1rem; */
}
.navbar-content nav li a{
    text-decoration: none;
}
.navbar-form{
    position: relative;
    /* width: 300px; */
    /* height: 38px; */
    /* background-color: #f5f5f5; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
 .icons{
  /* position: relative;   */
  /* left: 20px; */
  padding-left: 10px;
  width: 2.5rem;
  height: 2rem;
  color: black;
}
.nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: black;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

/* .navbar-search{
    position: relative;
}
.navbar-search .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: tomato;
    border-radius: 5px;
    top: -8px;
    right: -8px;
} */

@media only screen and (max-width: 1200px){
    .navbar-content{
        padding: 3rem;
    }
    .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    .navbar nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
        color: white;
        background-color: black;
        transition: 1s;
        transform: translateY(-100vh);
    }
    .navbar .responsive_nav{
        transform: none;

    }
    .navbar-form{
        visibility: hidden;
    }
    .nav-close-btn{
        position: absolute;
        color: whitesmoke;
        top: 2rem;
        right: 2rem;
    }
    .navbar-content nav li{
        font-size: 1.5rem;
        color: whitesmoke;
    }
}