.browse{
    padding: 5rem 7rem 5rem 7rem;
}
.browse-component{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.browse-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    width: 13.5rem;
    height: 11.625rem;
    border: 1px solid gray;
    margin-bottom: 0.75rem;
}
.browse-content img{
    width: 3.5rem;
    height: 3.5rem;
}

.browse-content p{
    font-size: 1rem;
    line-height: 1.5rem;
}
.browse-content:hover{
    background-color: #db4444;
    color: white;
}
@media (max-width:1200px){
    .browse{
        padding: 2rem;
    }
    .browse-component{
        gap: 0.5rem;
    }
    .browse-content{
        width: 7rem;
        height: 6rem;
    }
}