.wishlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 7rem 5rem 7rem;
}
.wishlist-upper{
    /* width: 73.125rem; */
    width: 100%;
    margin-bottom: 5rem;
}
.wishlist-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 3.75rem;
    /* padding: 0rem 7rem 0rem 7rem; */
}
.wishlist-title h4{
    font-size: 1.25rem;
    font-weight: lighter;
}
.wishlist-title button{
    border: 1px solid gray;
    background-color: white;
    width: max(12vw, 150px);
    padding: 12px 0px;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    font-size: 1rem;
}
.wishlist-content{
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 2rem;
}

@media (max-width:1024px) {
    .wishlist{
        padding: 1rem;
    }
    .wishlist-content{
        display: flex;
        flex-wrap: wrap;
    }
}